<header class="header">
  <div class="logo">
    <h1>{{ title }}</h1>
  </div>
  <div class="actions">
    <button>reset</button>
  </div>
</header>

<app-expense-allocation></app-expense-allocation>
