<h2>Expense Allocation Calculator</h2>

<div>
  <button (click)="addDeveloper()">Add Developer</button>
  <button (click)="addQATester()">Add QA Tester</button>
  <button (click)="addProjectManager()">Add Project Manager</button>
</div>

<div>
  <h3>Total Expense Allocation: ${{ totalCost }}</h3>
</div>

<h4>Hierarchy:</h4>
<ul>
  <li *ngFor="let child of rootEmployee.children">
    {{ child.name }} (${{ child.cost }}) - {{ child.type }}
    <ul *ngIf="child.children.length > 0">
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: child }"></ng-container>
    </ul>
  </li>
</ul>

<ng-template #recursiveList let-employee>
  <li *ngFor="let child of employee.children">
    {{ child.name }} (${{ child.cost }}) - {{ child.type }}
    <ul *ngIf="child.children.length > 0">
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: child }"></ng-container>
    </ul>
  </li>
</ng-template>
